<div class="background-image">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div>

          <img class="logo-branca" src="../../../assets/images/logo_branca.png"/>

        <!--
      <div class="search-bar">
         home-news.component.html -->
<!-- ... 
<div class="dspace-search-form">
<input class="dspace-search-input" type="text" placeholder="Procure no repositório...">
<button type="submit">Search</button>
</div>
 ... -->

      <div class="d-flex flex-wrap">
          <p class="lead">  the world leading open source repository platform that enables
            organisations to:</p>
        </div>
      </div>
      <ul>
        <li>
          NADA
        </li>
        <li>
          NADA
        </li>
        <li>issue permanent urls and trustworthy identifiers, including optional integrations with
          handle.net and  DOI
        </li>
      </ul>
      <p>TESTE <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">INSIRA LINK</a>.</p>
      <p>The test user accounts below have their password set to the name of this
        software in lowercase.</p>
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
      </ul>
    </div>
  </div>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>
