<div class="background-image">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div>

          <img class="logo-branca" src="../../../assets/images/logo_branca.png"/>

        <!--
      <div class="search-bar">
         home-news.component.html -->
<!-- ... 
<div class="dspace-search-form">
<input class="dspace-search-input" type="text" placeholder="Procure no repositório...">
<button type="submit">Search</button>
</div>
 ... -->

      <div class="d-flex flex-wrap">
          <p class="lead">  Bem-vindo ao repositório acadêmico da UniAteneu, uma das mais prestigiadas universidades do Brasil! 
            Aqui estão os principais pontos que você precisa saber sobre a UniAteneu:</p>
        </div>
      </div>
      <ul>
        <li>
          Sobre a UniAteneu: A UniAteneu foi fundada em 2002 e é reconhecida pela excelência de seus cursos 
          de graduação e pós-graduação, 
          que oferecem formação de alto nível e preparação para o mercado de trabalho. A universidade 
          conta com uma infraestrutura moderna e completa, 
          que inclui laboratórios equipados, 
          biblioteca com acervo atualizado e salas de aula confortáveis.
        </li>
        <li>
          Importância do Repositório Acadêmico: O repositório acadêmico é uma importante ferramenta para a divulgação do conhecimento científico produzido pelas universidades.
           Além disso, ele permite que pesquisadores, professores e estudantes tenham acesso fácil e gratuito a materiais de alta qualidade,
            que podem ser utilizados em seus estudos e pesquisas.
        </li>
        <li>Esperamos que você encontre em nosso repositório acadêmico informações úteis e 
          relevantes para sua trajetória acadêmica e profissional. Seja bem-vindo à UniAteneu!
        </li>
      </ul>
      <p>Esperamos que você encontre em nosso repositório acadêmico informações úteis e 
        relevantes para sua trajetória acadêmica e profissional. Seja bem-vindo à <a href="https://uniateneu.edu.br" target="_blank">UniAteneu!</a>.</p>
      <p>The test user accounts below have their password set to the name of this
        software in lowercase.</p>
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
      </ul>
    </div>
  </div>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>
</div>
